.stockTable{
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 140%;
}

.transferDivs{
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.settingDiv{
    margin-top: 1%;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
}

.logoDiv{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
  }

.headerAnimation{
    font-size: 170%;
}

.ui.vertical.tabular.menu.inverted a.active.item {
    background: none rgb(113, 107, 107);
}